<ul class="pagination">

  <% if @repos_facade.need_first_page? %>
    <li class="page-item">
      <%= link_to "First", repos_path(q: @repos_facade.query, page: @repos_facade.first_page ), class:"page-link" %>
    </li>
  <% end %>

  <% if @repos_facade.need_prev_page? %>
    <li class="page-item">
      <%= link_to "Previous", repos_path(q: @repos_facade.query, page: @repos_facade.prev_page ), class:"page-link" %>
    </li>
  <% end %>

  <li class="page-item disabled">
    <span class="page-link"><%= @repos_facade.page %></span>
  </li>

  <% if @repos_facade.need_next_page? %>
    <li class="page-item">
      <%= link_to "Next", repos_path(q: @repos_facade.query, page: @repos_facade.next_page ), class:"page-link"%>
    </li>
  <% end %>

  <% if @repos_facade.need_last_page? %>
    <li class="page-item">
      <%= link_to "Last", repos_path(q: @repos_facade.query, page: @repos_facade.last_page ), class:"page-link" %>
    </li>
  <% end %>

</ul>